The system can be run in two ways.
    1. Either by typing: "streamlit run main.py"
    2. Going to this website: https://huggingface.co/spaces/paulbricman/knowledge-technology-practical

The used packages were: streamlit, json, pandas. We used the latest version.
